**/bin/
**/obj/
Language/bin/
Language/obj/
FantasyMapGenerator/obj/Debug/FantasyMapGenerator.csproj.GenerateResource.Cache
FantasyMapGenerator/bin/Debug/WorldMap.pdb
FantasyMapGenerator/bin/
FantasyMapGenerator/obj/
*.psess
*.vspx
D3Voronoi/obj/
Terrain/obj/
D3Voronoi/bin/
.vs/
packages/
Terrain/bin/
Delaunay/obj/Release/Delaunay.csproj.FileListAbsolute.txt
Delaunay/obj/Debug/Delaunay.csproj.FileListAbsolute.txt
