Language/bin/
Language/obj/
FantasyMapGenerator/obj/Debug/FantasyMapGenerator.csproj.GenerateResource.Cache
FantasyMapGenerator/bin/Debug/WorldMap.pdb
FantasyMapGenerator/bin/
FantasyMapGenerator/obj/
